<!-- マイページ -->
<% if @user == current_user %>
  <h1>マイページ</h1>
  <% @user.reviews.each do |review| %>
    <p>タイトル: <%= review.title %></p>
    <p>✩: <%= review.rating %></p>
    <p>レビュー: <%= review.post %></p>
    <p>製品: <%= review.product_name %></p>
    <% if review.reviews_image.attached? %>
      <p>製品画像 <%= image_tag review.reviews_image.variant(resize: "300x300").processed %></p>
    <% else %>
      <p>画像がありません… <%= image_tag "no_image_review.jpg", size: "300x300" %></p>
    <% end %> 
  <% end %>

<!-- 他ユーザーページ -->
<% else %>
  <h2><%= @user.display_name %>さんの詳細ページ</h2>
  <% @user.reviews.each do |review| %>
    <p>タイトル: <%= review.title %></p>
    <p>✩: <%= review.rating %></p>
    <p>レビュー: <%= review.post %></p>
    <p>製品: <%= review.product_name %></p>
    <% if review.reviews_image.attached? %>
      <p>製品画像 <%= image_tag review.reviews_image.variant(resize: "300x300").processed %></p>
    <% else %>
      <p>画像がありません… <%= image_tag "no_image_review.jpg", size: "300x300" %></p>
    <% end %> 
  <% end %>
<% end %>