<h1>ジャンル編集</h1>

<!-- エラーメッセージ表示 -->
<%= render "layouts/errors", errors_message: @genre %>


<%= link_to "新規ジャンル登録ページへ戻る", new_admin_genre_path %>

<p>
<b>注意！</b><br>
ジャンルの削除・編集は慎重に行ってください。<br>
ジャンルを削除すると、現在そのジャンルに紐づいているユーザーのレビューも削除されてしまいます。<br>
また、ジャンル名を変更すると、ユーザーが投稿したレビューのジャンル表記と実際の内容が一致しなくなるおそれがあります。<br>
ユーザー体験を著しく損なう可能性がありますので、十分ご注意ください。
</p>


<!-- ジャンル編集フォーム ネームスペース使用してるのでurlを指定 -->
<%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local: true do |f| %>
  <label>ジャンル名</label>
  <%= f.text_field :name %>

  <label>ジャンル補足説明(製品例: ドライヤー・キーボードなど)</label>
  <%= f.text_field :additional_info %>

  <label>ジャンルアイコン(アイコンは必須です)</label>
  <%= f.file_field :genres_image, accept: "image/jpeg,image/png" %>
   <p>※ 現在のアイコンを使用する場合は、このままでOKです。</p>

  <%= f.submit "編集を保存する" %>
<% end %>

<%= link_to "ジャンルを削除する", admin_genre_path(@genre), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
