
<div class="container mt-5 ">

  <div style="background-image: url('<%= asset_path "top_image.jpeg" %>'); background-size: cover; background-position: center; height: 400px; position: relative; color: white;">
    <!-- バックグラウンドイメージdivに対して半透明の黒いオーバーレイdivを作成 文字を読みやすくしてる -->
    <div style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
    <div style="position: relative; z-index: 1;" class="text-center p-5">
      <% if user_signed_in? %>
        <h2>こんにちは、<%= current_user.display_name %>さん！</h2>
        <h1 class="mb-4">ようこそカデガジェへ！</h1>
        <p>あなたが使ってみて「良かった製品」や「ちょっと残念だった点」など、気軽にレビューしてみましょう。</p>
        <p>また、他のユーザーの投稿にコメントして、交流を楽しむこともできます。</p>
      <%else%>
        <h1 class="mb-4">ようこそカデガジェへ！</h1>
        <p class="lead">カデガジェは、家電やガジェットの実際の使用感を自由にレビューできるサイトです。</p>
        <p>アカウント登録していない方でも、他のユーザーのレビューを閲覧することができます。</p>
        <p class="mb-5">レビューやコメントを投稿するには、簡単なアカウント登録が必要です。</p>
      <% end %>
    </div>
  </div>  

  <!-- ジャンル一覧 -->
  <div class="text-center mb-4">
    <h3 class="mb-3 mt-3">ジャンル一覧</h3>
    <%= link_to "ALLジャンル", reviews_path, class: "btn btn-outline-primary w-100" %>
  </div>

  <div class="row">
    <% @genres.each do |genre| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <%= link_to reviews_path(genre_id: genre.id), class: "text-decoration-none text-dark" do %>
          <div class="card h-100 text-center shadow-sm genre-card-hover">
            <% if genre.genres_image.attached? %>
              <%= image_tag genre.genres_image.variant(resize: "100x100").processed, class: "card-img-top mx-auto mt-3", style: "width: 70px; height: 70px;" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= genre.name %></h5>
              <p class="card-text"><%= genre.additional_info %>など</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- 利用上の注意 -->
  <div class="mt-5">
    <h4>ご利用にあたって：</h4>
    <ul class="list-group">
      <li class="list-group-item">過激な表現や誹謗中傷、関係のない内容の投稿はお控えください。</li>
      <li class="list-group-item">他者の著作権を尊重し、無断で公式名を名乗ることや、他者のコンテンツを無断転載しないでください。</li>
      <li class="list-group-item">レビューはあなた自身の体験に基づいたものを投稿してください。</li>
    </ul>
  </div>
</div>

<!-- トップに戻るボタン -->
<%= render 'layouts/scroll_top_button' %>