
<!-- ALLジャンルまたは選択したジャンル -->
<% if @selected_genre %>
  <h1><%= @selected_genre.name %>のレビュー</h1>
  <%= link_to "ALLジャンルへ", reviews_path %>
<% else %>
  <h1>ALLジャンル レビュー</h1>
  <!-- ジャンル検索用 reviews_pathにgenre_idのパラメーターを送る -->
  <%= form_with url: reviews_path, method: :get, local: true do |f| %>
    <!-- セレクトボックスでジャンル別に絞り込む  .mapで配列を作成 |変数指定| [表示する変数,送信する値]でgenre_idにidを保存 -->
    <%= f.select :genre_id, options_for_select(@genres.map { |genre| [genre.name, genre.id] }), prompt: "ジャンルを選択" %>
    <%= f.submit "絞り込む" %>
  <% end %>
  <!-- Ransack 検索用 -->
  <%= search_form_for @q, url: reviews_path, method: :get do |f| %>
    <div>
      <%= f.label :title_cont, "タイトル検索" %>
      <%= f.search_field :title_cont %>
    </div>

    <div>
      <%= f.label :product_name_cont, "製品名検索" %>
      <%= f.search_field :product_name_cont %>
    </div>

    <div>
      <%= f.label :rating_eq, "✩" %>
      <!-- ["すべて", ""] で空欄を選択できるようにしてる -->
      <%= f.select :rating_eq, options_for_select([["すべて", ""], 5, 4, 3, 2, 1]) %>
    </div>

    <div>
      <%= f.submit "検索実行" %>
    </div>
  <% end %>

<% end %>



<!-- 新規レビュー作成へ (ログイン時のみ表示)-->
<% if user_signed_in? %>
  <%= link_to "新しいレビューを書く", new_review_path %>
<% end %>

<% @reviews.each do |review| %>
  <div class="mb-4 p-3 border rounded d-flex">
    <!-- 投稿者アイコン（左上に表示、丸く） -->
    <div class="me-3">
      <%= image_tag review.user.users_image.variant(resize: "50x50").processed, class: "rounded-circle" %>
    </div>

    <!-- 投稿内容 -->
    <div>
      <!-- 投稿者名 -->
      <p class="mb-1">
        <%= link_to user_path(review.user.id) do %>
          <%= review.user.display_name %>
        <% end %>
      </p>

      <!-- 製品名 -->
      <p class="mb-1"><%= review.product_name %></p>

      <!-- ✩評価 -->
      <p class="mb-1">✩: <%= review.rating %></p>

      <!-- タイトル -->
      <p class="mb-1">
        <%= link_to review_path(review.id) do %>
          <%= review.title %>
        <% end %>
      </p>

      <!-- 製品画像 -->
      <p class="mb-0">
        <% if review.reviews_image.attached? %>
          <%= image_tag review.reviews_image.variant(resize: "70x70").processed %>
        <% else %>
          <%= image_tag "no_image_review.jpg", size: "70x70" %>
        <% end %>
      </p>

      <!-- コメント数 -->
      <p class="mt-2">コメント数: <%= review.comments.count %></p>

    </div>
  </div>
<% end %>

<!-- ページネーション -->
<%= paginate @reviews %>