<h1>レビュー新規投稿</h1>

<!-- 警告表示 -->
<h6>投稿する前に必ず以下の点を確認してください</h6>
<ul>
  <li>過激な表現や他のユーザーへの誹謗中傷は禁止です。</li>
  <li>著作権を侵害する投稿は行わないでください。公式名や商標を無断で使用することはできません。</li>
</ul>

<!-- エラーメッセージ表示 -->
<%= render "layouts/errors", errors_message: @review %>

<%= form_with model: @review, local: true do |f| %>
  <label>タイトル</label>
  <%= f.text_field :title %>

  <label>✩</label>
  <%= f.select :rating, [["1", 1],["2", 2],["3", 3],["4", 4],["5", 5]] %>

  <label>ジャンル</label>
  <!-- .mapでALLで配列を作成[表示する変数,送信する値]でgenre_idにidを保存  -->
  <%= f.select :genre_id, Genre.all.map { |g| [g.name, g.id] }, prompt:"ジャンルを選択してください" %>
  
  <label>製品名</label>
  <%= f.text_field :product_name %>

  <label>写真</label>
  <%= f.file_field :reviews_image, accept: "image/jpeg,image/png" %>

  <label>レビュー文</label>
  <%= f.text_area :post %>

  <%= f.submit "投稿する" %>
<% end %>
