<div class="container mt-5">
  <h1 class="mb-4">レビュー詳細</h1>

  <div class="d-flex justify-content-end mb-3">
    <%= link_to "レビュー一覧へ", reviews_path, class: "btn btn-outline-secondary" %>
  </div>


  <!-- 投稿主名 (ユーザー詳細へリンク) -->
  <p>
    <div class="d-flex align-items-center">
      <%= image_tag @review.user.users_image.variant(resize: "50x50").processed, class: "rounded-circle me-2" %>
      <%= link_to user_path(@review.user.id) do %>
        <%= @review.user.display_name %>
      <% end %>
    </div>
  </p>

  <!-- タイトル -->
  <p><%= @review.title %></p>

  <!-- raty星表示 -->
  <div class="review-rating" data-score="<%= @review.rating %>"></div>

  <!-- ジャンル -->
  <p><%= image_tag @review.genre.genres_image.variant(resize: "30x30").processed, class: "me-2" %><%= @review.genre.name %></p>

  <!-- 製品名 -->
  <p>
    <i class="fa-solid fa-circle-exclamation fa-sm" style="color: #63E6BE;"></i>
    <%= @review.product_name %>
  </p>

  <!-- 本文 -->
  <%= simple_format(@review.post) %>

  <!-- 製品画像 -->
  <div class="my-3">
    <%= image_tag @review.reviews_image.variant(resize: "500x500").processed, class: "img-fluid rounded" %>
  </div>

  <!-- 投稿日 l メソッド使用 -->
  <p>投稿日 <%= l @review.created_at %></p>

  <!-- 自身が投稿したレビューだった場合 編集ページへリンク -->
  <% if current_user && @review.user_id == current_user.id %>
    <div class="mt-4">
      <%= link_to "レビューを編集する", edit_review_path(@review.id), class: "btn btn-outline-primary" %>
    </div>
  <% end %>

  <!-- コメント一覧 -->
  <%= render "reviews/comments", {review: @review, comments: @comments} %>
</div>

<!-- トップに戻るボタン -->
<%= render 'layouts/scroll_top_button' %>

<!-- raty読み取り用 -->
<script>
  //'turbolinks:load', function()これがないとリロードしないと星が表示されない turbolinksの動作の影響
  document.addEventListener('turbolinks:load', function () {
    document.querySelectorAll('.review-rating').forEach(function(elem) {
      const score = elem.dataset.score;
      //elem.innerHTML = ""; これがないとページを読み込む度に星が増えていく
      elem.innerHTML = '';
      raty(elem, {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        //読み取り専用
        readOnly: true,
        score: score || 0
      });
    });
  });
</script>