<header>
  <!-- サイトロゴ topページリンク -->
  <div>
    <%= link_to "トップページへ", root_path %>
  </div>

  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "about", about_path %></li>

      <li><%= link_to "レビュー一覧", reviews_path %></li>

      <li><%= link_to "マイページ", user_path(current_user) %></li>

      <li><%= link_to "レビューを作成", new_review_path %></li>

      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "about", about_path %></li>

      <li><%= link_to "レビュー一覧", reviews_path %></li>

      <li><%= link_to "ゲストログイン(お試し)", users_guest_sign_in_path, method: :post %></li>

      <li><%= link_to "新規登録", new_user_registration_path %></li>

      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
</header>