<!DOCTYPE html>
<html>
  <head>
    <title>Kadegaje</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f2522e9e81.js" crossorigin="anonymous"></script>

    <!-- GoogleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    
    <!-- Bootstrap導入時 stylesheet_linkからstylesheet_packへ変更 -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- application_controllerのヘルパーメソッド使用 現在サインインしてるのがadmin_userならヘッダーを使わない -->
    <% unless current_admin_user? %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
      <!-- フラッシュメッセージ(成功時) 失敗時はエラー文表示に設定-->
      <% if flash[:notice] %>
        <div class="flash-notice">
          <!-- flashメッセージでも改行できるように変更 .gsubで改行文字"\n" を"<br>" へ置き換え.html_safe でそのままHTMLとして出力 -->
          <%= flash[:notice].gsub("\n", "<br>").html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <!-- footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
